<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Index page</title>
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<center>
<table width="818px" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
	
	
	<table width="818px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10px" valign="top">
	
	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="380px"  width="10px">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#d8d8d8" height="180px">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

	
	
	</td>
    <td align="center" valign="top">
	
	<table width="799px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="header" valign="top" align="right">
	
	<table border="0" cellspacing="3" cellpadding="3">
	<tr>
	 <td height="10px" colspan="6"></td>
	</tr>
  <tr>
    <td><img src="images/sitemap.gif" /></td>
    <td><a href="#" class="toplinks">Site Map</a></td>
    <td><img src="images/search.gif" /></td>
	<td><a href="#" class="toplinks">Search</a></td>
	<td><img src="images/email.gif" /></td>
	<td><a href="#" class="toplinks">Email</a></td>
  </tr>
</table>

	
	</td>
  </tr>
  <tr>
    <td height="8px" bgcolor="#d9d9d9"></td>
  </tr>
  
  <tr>
    <td align="center">
	
	<div align="center">
			
			<div id="link2">
				<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="subpage.html">ABOUT US</a></li>
				<li><a href="subpage.html">OUR SERVICES</a></li>
				<li><a href="subpage.html">PROJECTS</a></li>
				<li><a href="subpage.html">CONTACT US</a></li>
				</ul>
			</div>
			
			</div>
	
	</td>
  </tr>
  <tr>
    <td height="11px"></td>
  </tr>
  <tr>
    <td>
	
	<table width="799" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="502px" style="border-right:8px #d9d9d9 solid;" >
	
	<table border="0" width="450PX" cellspacing="0" cellpadding="0" align="center">
	<tr>
	  <td height="12px" colspan="2"></td>

	</tr>
  <tr>
    <td align="left"  width="120px"><img src="images/image1.jpg" /></td>
    <td valign="top" align="center">
	<img src="images/company_name.gif" /><BR />
	<P>
	Sanjanaa an established family owned and operated General Engineering Construction Company located in Vashi, Navi Mumbai.
	</P>
	
	</td>
  </tr>
  <tr>
    <td height="4px" colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">
	<p>
	At Sanjana Construction Company our experienced staff utilizes state of the art technologies and equipment for the construction of large and small public and private construction projects.
	</p>
	</td>
 </tr>
    <tr>
      <td height="3px" colspan="2"></td>
    </tr>
	<tr>
      <td colspan="2" style="border-bottom:#999999 1px dashed;">&nbsp;</td>
    </tr>
	<tr>
      <td height="20px" colspan="2"></td>
    </tr>
	<tr>
      <td colspan="2" align="center">
	  
	  <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5px" bgcolor="#ffa700">&nbsp;</td>
	<td width="8px"></td>
    <td><img src="images/featured_projects.gif" alt="featured projects" /></td>
	<td width="8px"></td>
    <td width="275px" bgcolor="#ececec"></td>
  </tr>
  <tr>
  <td colspan="5">
  
<table border="0" cellspacing="12" cellpadding="8" align="center">
  <tr>
    <td align="center"><img src="images/image2.jpg" /><br /><img src="images/arrow.jpg" />&nbsp;&nbsp;<a href="#" class="details">Details</a></td>
    <td align="center"><img src="images/image3.jpg" /><br /><img src="images/arrow.jpg" />&nbsp;&nbsp;<a href="#" class="details">Details</a></td>
    <td align="center"><img src="images/image4.jpg" /><br /><img src="images/arrow.jpg" />&nbsp;&nbsp;<a href="#" class="details">Details</a></td>
  </tr>
   
</table>

  
  </td>
  </tr>
</table>

	  </td>
	      
    </tr>
</table>

	
	</td>
    <td width="306" valign="top">
	<table border="0" width="264px" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td>
	
	
	
	
	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5px" bgcolor="#ffa700">&nbsp;</td>
	<td width="8px"></td>
    <td width="130px"><img src="images/company_services.gif" /></td>
	<td width="8px"></td>
    <td width="112px" bgcolor="#ececec"></td>
  </tr>
  </table>
	
	
	
	
	
	
	
	
	
	</td>
  </tr>
  <tr>
    <td align="left"><br />
	<img src="images/arrow1.gif" />&nbsp;&nbsp;&nbsp;Technical Services<br /><br />
	<img src="images/arrow1.gif" />&nbsp;&nbsp;&nbsp;Construction and Consulting Services<br /><br />
	<img src="images/arrow1.gif" />&nbsp;&nbsp;&nbsp;Construction Sercvices<br /><br />
	<img src="images/arrow1.gif" />&nbsp;&nbsp;&nbsp;Construction Sercvices<br /><br />
	
	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5px" bgcolor="#ffa700">&nbsp;</td>
	<td width="8px"></td>
    <td width="130px"><img src="images/company_services.gif" /></td>
	<td width="8px"></td>
    <td width="112px" bgcolor="#ececec"></td>
  </tr>
  </table>
	</td>
  </tr>
  
  <tr>
    <td height="10px"></td>
  </tr>
  <tr>
    <td align="left">
	<img src="images/image5.jpg" />
	<br /><br />At Sanjana Construction Company our experienced staff utilizes
	</td>
  </tr>
  <tr>
    <td height="10px"></td>
  </tr>
   <tr>
    <td align="left">
	<img src="images/image6.jpg" />
	<br /><br />At Sanjana Construction Company our experienced staff utilizes	</td>
  </tr>
  <tr>
   <td height="10px"></td>
  </tr>
</table>


	
	</td>
  </tr>
</table>

	
	</td>
  </tr>
</table>

	
	</td>
    <td width="9px" >&nbsp;</td>
  </tr>
  <tr>
  <td colspan="3" id="footer">
  <table border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="left">Support Phone :<br /><br />
	<b class="footertphonenumber">91 990 00 00 001</b>
	</td>
	<td width="140px"></td>
    <td align="left">
	
	<a href="#" class="footerlinks">about us</a> |
	<a href="#" class="footerlinks">services</a> |
	<a href="#" class="footerlinks">contact us</a> |
	<a href="#" class="footerlinks">privacy polacy</a> <br /><br />
	
	<font color="#FFFFFF">&copy;Sanjanaa.com. All right reserved.</font>
	
	
	</td>
  </tr>
</table>

  
  </td>
  </tr>
  
</table>

	
	
	
	</td>
  </tr>
</table>
</center>
</body>
</html>
